/* *
{
    border: solid 2px black;
} */


/* 
body
{
  background-color:rgba(216, 216, 63, 0.384);    
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
} */


body
{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  margin: 0px ;
  position: absolute;
  width: 100%;
  height: 2600px;
  padding:0;
  margin:0;
  background-color:#f4f4f4;   
  display: flex;
  flex-direction: column;  
  justify-content: space-between; 
  } 

  #Mes_animaux_pr_f_r_s_ ,#ours_page,#elephant_page,#lion_page
  {
      filter: drop-shadow(0px 9px 6px rgba(46, 46, 36, 0.741));
      position: absolute;
      left: 24.5px;
      top: 18.5px;
      overflow: visible;
      width: 654px;
      white-space: nowrap;
      text-align: left;    
      font-family: Stencil Std;
      font-style: normal;
      font-weight: bold;
      font-size: 88px;
      color: rgba(255,255,255,1);
      -webkit-text-stroke-color: chartreuse;
      -webkit-text-stroke-width: 2px ;
    }
  

/*paysage*/
  .img
  {
    width: 100%;
    height: 910px;
    background-image: url(../images/paysage.jpg) ;
    background-repeat: no-repeat;       
    background-size: 100%;  
    }

/*navigation panel*/
    #nav
    {  
        display: flex;
        width: 100%;
        height: 100px;
        justify-content: space-around;
        align-items: center; 
    }
    nav,ul
    {
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center; 
    }
    .d
    {
      width: 15%;
      font: 24px/1.5 Arial, Helvetica,sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
    }


    /*animals sections*/
    
.containe
{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1000px;
  justify-content: space-between;
  align-items: center;
}


/* section
{
    width: 100%;
    display: flex;    
    align-items: unset;
    font-size: 30px;
    font-weight: bold;   
  } */

    .box
{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 300px;
}

#ours_box
{
   background-color: #B28A00;
  }

#lion_box
{
   background-color: burlywood;
  }

#elephant_box
{
 background-color: darkgray;
}


p
{
  width: 60%;
  /* white-space: nowrap; */
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-justify: distribute ;
}

    #imgours
    {
      width: 30vw;
      height: 30vw;    
      background-image: url(../images/Ours.png) ;
      background-repeat: no-repeat;       
      background-size: 60%;  
      }
    #imglion
    {
      width: 30%;
      height: 400px;    
      background-image: url(../images/Lion.png) ;
      background-repeat: no-repeat;       
      background-size: 60%;  
      }
    #imgelephant
    {
      width: 30%;
      height: 350px;    
      background-image: url(../images/Elephent.png) ;
      background-repeat: no-repeat;       
      background-size: 60%;  
      }






.container
{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: wheat;
}

.contlast
{
  width: 40%;
  margin: 0 5px 0 5px;
}


#form
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form
{
 
  width: 80%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
.place
{
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nom
{
  width: 60%;
  height: 50%;
}


 






  #imglastsec
  {
    height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
#imglast
{
 
  width: 80%;
  height: 180px;    
  background-image: url(../images/AFPA.jpg) ;
  background-repeat: no-repeat;       
  background-size: 80%;  
}





  footer
  {
   background-color: #B28A00; 
   }

  .cont 
  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .social
  {
    position: relative;
    background-color: blueviolet;
    width: 40px;
    height: 40px;
    display: flex;    
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    overflow: hidden;
  }
  .social img
  {
    z-index: 2;
    width: 40px;
    height: 40px;
  }
  .font_tweet, .font_facebookvid
  {
    top: 20px;
    z-index: 1;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    transition: 0.5s;
  }
  .font_tweet
  {    
    background-color: #55acee;
  }
  
  .font_facebookvid
  {    
    background-color:#3b5999;
  }

  .social: :hover .font_tweet
  {
    top: 0px;
  }

  .social: :hover  .font_facebookvid
  {
    top: 0px;
  }


/* Media Queries */

/* @media(width :1911 height:1080){} */

/* @media( width:768 height:1024){} */

 @media(max-width: 768px)
 {
   body 
   {
     display: none;
   }
 }

/* @media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
} */


/* @media(width:375 height:667){} */

/* @media(max-width: 375px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
} */




