 
  body {
    padding-top: 50px; 
    display: flex;
    flex-direction: column;
    margin: 0;
  }


  header {
    background: rgb(61, 73, 241);
    height: 120px;
    font-size: 30px;
    text-align: center;
   
  }
   #RubPar {
    display: flex;
    flex: 1;
      }

  Rub {
     background: rgb(169, 243, 85);
     height: 100px;
     width:34%;
    text-align: center
   }

  #main {
    
    display: flex;
    flex: 1;
  }

  #side{
    background: rgb(77, 242, 248);
    display: flex;
    flex:2;
    flex-direction: column;
    justify-content: space-between ;
     }
  
  article {
      background: rgb(175, 43, 192);
      height: 80px;
   }
  
  #main > aside {
    background: rgb(63, 230, 146);
    height: 250px;
    width: 40%;
  }
  
  footer {
    background: rgb(245, 80, 149);
    height: 50px;
}

